{"openapi":"3.1.0","info":{"title":"Trade Compliance Management HTTP API","description":"Thank you for using our HTTP API documentation.","version":"4.0"},"servers":[{"url":"https://rz3.aeb.de/test4ce/rest"}],"security":[{"SWAGGER_AUTH_KEY":[]},{"BASIC_AUTH":[]}],"tags":[{"name":"Compliance Foundation","description":"BF for the compliance foundation."},{"name":"CoreBFBean","description":"Business facade for the XNSGFoundation"},{"name":"Export Control Applications","description":"Get URLs to various parts of the Export Controls application."},{"name":"Export Control Internal","description":"Internal API for export control"},{"name":"Export Control","description":"API for export control"},{"name":"FoundationAFBean","description":"Business facade for the XNSGFoundation AF"},{"name":"Logon","description":"Authentication handler for the XNSGFoundation"},{"name":"DataFeedBFBean","description":"DataFeedBFBean"},{"name":"ExternalTelemetryBFBean","description":"Business facade for sending telemetry data from a third party system."},{"name":"FoundationBFBean","description":"REST endpoint for FoundationBF"},{"name":"RemoteAdminBFBean","description":" Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."},{"name":"SyncBFBean","description":"Business facade for synchronizing data asynchronous from an engine to a client system."},{"name":"Companies","description":"Rest API for companies"},{"name":"Compliance Screening Applications","description":"Get URLs to various parts of the Compliance Screening application."},{"name":"Compliance Screening Internal","description":"Internal API for compliance screening"},{"name":"Compliance Screening","description":"API for restricted party list screening"},{"name":"Risk Assessment Applications","description":"Get URLs to various parts of the Risk Assessment application."},{"name":"Risk Assessment","description":"API for Risk Assessment"},{"name":"WorkstationServiceAgent","description":"Connection handler for the Workstation Service Agent"},{"name":"TariffContent20BFBean","description":"BF for the tariff content solution (version 2.0)"},{"name":"CustomsContentServiceBF","description":"BF providing services around customs content (nomenclatures, export control lists)."}],"paths":{"/ComplianceFoundation/getMasterdataIdentifiers":{"post":{"tags":["Compliance Foundation"],"summary":"Returns the identifiers of master data for a client.","description":"Returns the identifiers of master data for a client. The available types of master data are the following:<ul><li>Partner roles: <code>PARTNER_ROLE_IDENTIFIERS</code></li><li>Goods attributes: <code>GOODS_ATTRIBUTE_IDENTIFIERS</code></li><li>Transaction types: <code>TRANSACTION_TYPE_IDENTIFIERS</code></li><li>Jurisdictions: <code>JURISDICTION_IDENTIFIERS</code></li><li>All value lists and their entries: The <code>identCode</code> of the requested value list</li></ul> The result will include all client independent identifiers plus the identifiers of the specified client.","operationId":"getMasterdataIdentifiers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMasterdataIdentifiersRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetMasterdataIdentifiersRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMasterdataIdentifiersResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetMasterdataIdentifiersResponseDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/CoreBFBean/checkBFFunctionExists":{"post":{"tags":["CoreBFBean"],"description":"Can be called to know if a BF function exist.","operationId":"checkBFFunctionExists","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BFFunctionDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BFFunctionExistsDTO"}}}}}}},"/CoreBFBean/echo":{"post":{"tags":["CoreBFBean"],"description":"Returns the given echo parameter value.","operationId":"echo","parameters":[{"name":"echo","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/CoreBFBean/echoUpperCase":{"post":{"tags":["CoreBFBean"],"description":"Returns the given echo parameter value in uppercase.","operationId":"echoUpperCase","parameters":[{"name":"echo","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/CoreBFBean/getAllMonitoringValues":{"get":{"tags":["CoreBFBean"],"description":"Returns all available monitoring values of the server.","operationId":"getAllMonitoringValues","responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/MonitoringDataProviderDTO"}}}}}}}},"/CoreBFBean/getBuildForSolution":{"get":{"tags":["CoreBFBean"],"description":"Return the build information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_BLDSOL\\\".","operationId":"getBuildForSolution","parameters":[{"name":"solutionName","in":"query","description":"solutionName the name of the solution for which version information is to be obtained","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/CoreBFBean/getMonitoringValue":{"get":{"tags":["CoreBFBean"],"description":"Returns the current monitoring value for the given group and name.","operationId":"getMonitoringValue","parameters":[{"name":"groupName","in":"query","schema":{"type":"string"}},{"name":"valueName","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/CoreBFBean/getProductInfo":{"get":{"tags":["CoreBFBean"],"description":"Return information about the server that is answering this request. This includes the product name and various version informations. The RFC name of this function is \\\"/AEB/XNSG_IF_PRINFO\\\".","operationId":"getProductInfo","responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInfoDTO"}}}}}}},"/CoreBFBean/getRuntimeInfo":{"get":{"tags":["CoreBFBean"],"description":"Return runtime information about the server that is answering this request. This includes the server name, ports and various other runtime informations. The RFC name of this function is \\\"/AEB/XNSG_IF_RTINFO\\\".","operationId":"getRuntimeInfo","responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeInfoDTO"}}}}}}},"/CoreBFBean/getRuntimeState":{"post":{"tags":["CoreBFBean"],"description":"Return runtime state information about the server that is answering this request. This includes if the server is doing fine or not. Also included are the supported operations (bfs) for the installation repository The RFC name of this function is \\\"/AEB/XNSG_IF_RTSTATE\\\".","operationId":"getRuntimeState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeStateParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeStateResultDTO"}}}}}}},"/CoreBFBean/getThreadDump":{"get":{"tags":["CoreBFBean"],"description":"Generate Thread-Dump.","operationId":"getThreadDump","responses":{"200":{"description":"The operation result.","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/CoreBFBean/getVersionForSolution":{"get":{"tags":["CoreBFBean"],"description":"Return the version information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_VERSOL\\\".","operationId":"getVersionForSolution","parameters":[{"name":"solutionName","in":"query","description":"solutionName the name of the solution for which version information is to be obtained","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionInfoDTO"}}}}}}},"/CoreBFBean/restartRFCServer":{"post":{"tags":["CoreBFBean"],"description":"This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \\\"/AEB/XNSG_IF_RSTRFCSRV\\\".","operationId":"restartRFCServer","responses":{"200":{"description":"No result.","content":{"application/json":{}}}}}},"/ExportControlApplications/commerceControlList":{"post":{"tags":["Export Control Applications"],"summary":"Get application for the Commerce Control List.","description":"Returns an URL for an application, which displays the Commerce Control List appliaction.","operationId":"getCommerceControlList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommerceControlListRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CommerceControlListRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to the Commerce Control List.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControlApplications/ecTransaction":{"post":{"tags":["Export Control Applications"],"summary":"Get application for displaying an export control transaction.","description":"Returns an URL for an application, which displays an export control transaction. Since 2022/11.","operationId":"getECTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ECTransactionRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ECTransactionRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to displaying a transaction.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControlApplications/euExportControlList":{"post":{"tags":["Export Control Applications"],"summary":"Get application for the EU export control list.","description":"Returns an URL for an application, which displays the EU export control list.","operationId":"getEUExportControlList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EUExportControlListRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/EUExportControlListRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to the EU export control list application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControlApplications/expCtrlLogs":{"post":{"tags":["Export Control Applications"],"summary":"Get application for the overview of Export Controls log entries.","description":"Returns an URL for an application, which displays the overview of Export Controls log entries.","operationId":"getExpCtrlLogs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpCtrlLogsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpCtrlLogsRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to an overview of Export Controls log entries.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControlApplications/goodsAttributeValuesList":{"post":{"tags":["Export Control Applications"],"summary":"Get application for the list of all known values of the specified goods attribute.","description":"Returns an URL for an application, which displays the list of all known values of the specified goods attribute.","operationId":"getGoodsAttributeValuesList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoodsAttributeValuesListRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GoodsAttributeValuesListRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to a list of all known values of the specified goods attribute.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControlApplications/quickCheck":{"post":{"tags":["Export Control Applications"],"summary":"Get application for a Quick check.","description":"Returns an URL for an application, which displays the Quick check.","operationId":"getQuickCheck","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickCheckRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/QuickCheckRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to the Quick check application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControlInternal/setFinalTransactionLabelHost":{"post":{"tags":["Export Control Internal"],"summary":"Update existing transaction labels.","description":"Update the transaction label for existing export control transaction protocols, clearings and clearing protocols after they were created. This method should only be called by the SAP plugin, which always provides a transaction label containing \"[SAP has not assigned a no. yet]\" in the first check of a check transaction. This placeholder is supposed to be replaced with the help of this method (although the whole label must be passed).","operationId":"setFinalTransactionLabelHost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetFinalLabelRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SetFinalLabelRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetFinalLabelRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SetFinalLabelRequestDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControl/v2/acknowledgeGetChangedTransactions":{"post":{"tags":["Export Control"],"summary":"Acknowledge changed results of EC check transactions.","description":"Acknowledge the changed results of EC check transactions. If calling *getChangedTransactions* returns false in *GetChangedTransactionsResponseDTO.isComplete*, there are more changed results available. To get those results, the already retrieved results need to be acknowledged with the *GetChangedTransactionsResponseDTO.syncId* from the *getChangedTransactions* call.","operationId":"acknowledgeGetChangedTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControl/v2/checkTransaction":{"post":{"tags":["Export Control"],"summary":"Check a transaction in Export Controls.","description":"Check a transaction in Export Controls. This call does not imply any approval management in the host system. Instead, if required, for each checked transaction from host system a check transaction is created in Export Controls with the data of the transmitted transaction. This is necessary, for example, due to critical results in the export control check. Further export control checks for the corresponding transaction are done using the associated check transaction in Export Controls. Based on this, approvals for a transaction must be managed directly using the corresponding check transaction in Export Controls. The existing approvals for the associated check transaction are automatically taken into account during check of transaction from host system in Export Controls.","operationId":"checkTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckTransactionRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CheckTransactionRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckTransactionResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CheckTransactionResponseDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControl/v2/createQuestionnaireForTransaction":{"post":{"tags":["Export Control"],"summary":"Create a new questionnaire for a transaction in Export Controls","description":"Explicitly create a new questionnaire for a transaction in Export Controls. In case other questionnaires already exist for the given transaction, they are marked as invalid and the newly created questionnaire becomes the active one for that transaction.","operationId":"createQuestionnaireForTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQuestionnaireForTransactionRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateQuestionnaireForTransactionRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQuestionnaireForTransactionResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateQuestionnaireForTransactionResponseDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControl/v2/deleteTransaction":{"post":{"tags":["Export Control"],"summary":"To be invoked when a transaction in the partner system is deleted.","description":"Method to be invoked when a transaction in the partner system is deleted. Deletes the corresponding check transaction in Export Controls if existing.","operationId":"deleteTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTransactionRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DeleteTransactionRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTransactionResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DeleteTransactionResponseDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControl/v2/getChangedTransactions":{"post":{"tags":["Export Control"],"summary":"Get the changed results of EC check transactions.","description":"Get the changed results of EC check transactions. Returns the changed results of EC check transactions, that were created for EC check transaction created with the *checkTransaction* call. The result of an EC check transaction might change if e.g. an approval was made or revoked on any of the items within Trade Compliance Management. Only changes relating to EC check transactions created by the transmitted in *GetChangedTransactionsRequestDTO.clientSystemId* are considered.<br>A partner system subscription needs to be configured in Trade Compliance Management.","operationId":"getChangedTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetChangedTransactionsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetChangedTransactionsRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetChangedTransactionsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetChangedTransactionsRequestDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ExportControl/v2/getTransactionCheckResult":{"post":{"tags":["Export Control"],"summary":"Gets the check result for a certain EC check transaction.","description":"Gets the check result for a certain EC check transaction. The check result is returned without a new EC check being performed. If a check is desired, call *checkTransaction* instead.","operationId":"getTransactionCheckResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTransactionCheckResultRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetTransactionCheckResultRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTransactionCheckResultResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetTransactionCheckResultResponseDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/FoundationAFBean/releaseApplicationFacade":{"post":{"tags":["FoundationAFBean"],"description":"Release a application facade which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the application facades session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the application facade by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".","operationId":"releaseApplicationFacade","parameters":[{"name":"sessionid","in":"query","description":"sessionid The sessionid returned by any application facade method, e.g. workplace @throws RemoteException","schema":{"type":"string"}}],"responses":{"200":{"description":"No result.","content":{"application/json":{}}}}}},"/FoundationAFBean/workplace":{"post":{"tags":["FoundationAFBean"],"description":"Creates an application facade to be able to display the (Casabac-)workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".","operationId":"workplace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeParmsDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}}}}},"/logon/authToken":{"get":{"tags":["Logon"],"description":"Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".","operationId":"authToken","responses":{"200":{"description":"Returns the authentication token.","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Returns the cause why authentication has failed.","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/logon/user":{"post":{"tags":["Logon"],"description":"Logon with classical procedure: user, client and password.","operationId":"logonUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserClientLoginDTO"}}}},"responses":{"200":{"description":"Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogonResponse"}}}}}}},"/DataFeedBFBean/acknowledgePublishedDataFeedParts":{"post":{"tags":["DataFeedBFBean"],"description":"Acknowledge the processed published data feed parts retrieved with getPublishedDataFeedParts containing the synchronization ID up to which all parts are acknowledged.","operationId":"acknowledgePublishedDataFeedParts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgePublishedDataFeedPartsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgePublishedDataFeedPartsResponseDTO"}}}}}}},"/DataFeedBFBean/dataFeedParts/{client}/{id}":{"get":{"tags":["DataFeedBFBean"],"description":"Retrieve the data feed part content.","operationId":"getDataFeedPartContentForRest","parameters":[{"name":"client","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The content of the data feed part.","content":{"application/octet-stream":{}}}}}},"/DataFeedBFBean/getPublishedDataFeedParts":{"post":{"tags":["DataFeedBFBean"],"description":"Poll data about the next 10 published data feed parts. This data contains an id, which can be used to download the content of a part. To download the content, use the endpoint /DataFeedBFBean/dataFeedParts/{client}/{id} ","operationId":"getPublishedDataFeedParts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPublishedDataFeedPartsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPublishedDataFeedPartsResponseDTO"}}}}}}},"/ExternalTelemetryBFBean/getStatus":{"post":{"tags":["ExternalTelemetryBFBean"],"description":"Returns the current status of the telemetry system.<br> The external system id must be sent with the request.","operationId":"getTelemetryStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMIdentificationRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMStatusResponseDTO"}}}}}}},"/ExternalTelemetryBFBean/status":{"get":{"tags":["ExternalTelemetryBFBean"],"description":"Returns the current status of the telemetry system.<br> The external system id must be sent with the request.","operationId":"getTelemetryStatusByParams","parameters":[{"name":"externalSystemId","in":"query","description":"externalSystemId, the id of the calling system, mandatory","schema":{"type":"string"}},{"name":"reportClientIdentCode","in":"query","description":"reportClientIdentCode, the identCode of the client to call the status for","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMStatusResponseDTO"}}}}}}},"/ExternalTelemetryBFBean/telemetryReport":{"post":{"tags":["ExternalTelemetryBFBean"],"description":"Submits telemetry data for a new telemetry report.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.","operationId":"sendTelemetryReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMReportRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMResponseDTO"}}}}}}},"/FoundationBFBean/acknowledgeFile":{"post":{"tags":["FoundationBFBean"],"description":"Acknowledges a file download.","operationId":"acknowledgeFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeFileRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeFileResponseDTO"}}}}}}},"/FoundationBFBean/announceStop":{"post":{"tags":["FoundationBFBean"],"description":"Announces a stop of the installation.","operationId":"announceStop","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnounceStopParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnounceStopResultDTO"}}}}}}},"/FoundationBFBean/cancelAnnounceStop":{"post":{"tags":["FoundationBFBean"],"description":"Revokes an already announced stop.","operationId":"cancelAnnounceStop","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelAnnounceStopParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelAnnounceStopResultDTO"}}}}}}},"/FoundationBFBean/changeAdminPassword":{"post":{"tags":["FoundationBFBean"],"description":"Changes the admin password.","operationId":"changeAdminPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeAdminPasswordParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeAdminPasswordResultDTO"}}}}}}},"/FoundationBFBean/client":{"get":{"tags":["FoundationBFBean"],"description":"Requests all clients from this engine, or one client identified by values in query parameter","operationId":"queryClients","parameters":[{"name":"identCode","in":"query","description":"Filter for client ident code","schema":{"type":"string"}},{"name":"debtorNumber","in":"query","description":"Filter for debtor number","schema":{"type":"string"}}],"responses":{"200":{"description":"Contains the client infos.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ClientDTO"}}}}}}},"post":{"tags":["FoundationBFBean"],"description":"Create a client.","operationId":"createClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientResponseDTO"}}}}}}},"/FoundationBFBean/downloadFile":{"post":{"tags":["FoundationBFBean"],"description":"Retrieves a file for download.","operationId":"downloadFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadFileRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadFileResponseDTO"}}}}}}},"/FoundationBFBean/generateClientIdentCode":{"post":{"tags":["FoundationBFBean"],"description":"Generates a client ident code.","operationId":"generateClientIdentCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateClientIdentCodeRequestDTO"}}}},"responses":{"200":{"description":"The client ident code."}}}},"/FoundationBFBean/client/active":{"get":{"tags":["FoundationBFBean"],"description":"Requests all active clients from this engine.","operationId":"getAllActiveClients","responses":{"200":{"description":"Contains the client infos.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ClientDTO"}}}}}}}},"/FoundationBFBean/monitoringValue":{"get":{"tags":["FoundationBFBean"],"description":"Requests all monitoring values from this engine.","operationId":"getAllMonitoringValues_1","responses":{"200":{"description":"Contains all monitoring values.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/MonitoringDataProviderDTO"}}}}}}}},"/FoundationBFBean/solution/{name}/build":{"get":{"tags":["FoundationBFBean"],"description":"Requests the build info for a solution from this engine.","operationId":"getBuildForSolution_1","parameters":[{"name":"name","in":"path","description":"Name of solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Contains the build info."}}}},"/FoundationBFBean/downloadableFileRefs":{"post":{"tags":["FoundationBFBean"],"description":"Retrieves refs for download.","operationId":"getDownloadableFilesRefs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLFilesRefsRequestDTO"}}}},"responses":{"200":{"description":"The download refs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLFilesRefsResponseDTO"}}}}}}},"/FoundationBFBean/monitoringValue/{groupName}/{valueName}":{"get":{"tags":["FoundationBFBean"],"description":"Requests a specific monitoring value from this engine.","operationId":"getMonitoringValue_1","parameters":[{"name":"groupName","in":"path","description":"group name","required":true,"schema":{"type":"string"}},{"name":"valueName","in":"path","description":"value name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The monitoring value."}}}},"/FoundationBFBean/numberOfClients":{"get":{"tags":["FoundationBFBean"],"description":"Returns the number of clients.","operationId":"getNumberOfClients","responses":{"200":{"description":"The client count."}}}},"/FoundationBFBean/productInfo":{"get":{"tags":["FoundationBFBean"],"description":"Requests the product info from this engine.","operationId":"getProductInfo_1","responses":{"200":{"description":"Contains the product info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInfoDTO"}}}}}}},"/FoundationBFBean/runtimeInfo":{"get":{"tags":["FoundationBFBean"],"description":"Requests the runtime info from this engine.","operationId":"getRuntimeInfo_1","responses":{"200":{"description":"Contains the runtime info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeInfoDTO"}}}}}}},"/FoundationBFBean/scriptExecutionState":{"post":{"tags":["FoundationBFBean"],"description":"gets a script execution state","operationId":"getScriptExecutionState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptExecutionStateParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptExecutionStateResultDTO"}}}}}}},"/FoundationBFBean/tableUpdateState":{"post":{"tags":["FoundationBFBean"],"description":"Retrieve the status of the table update.","operationId":"getTableUpdateState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateStateParmDTO"}}}},"responses":{"200":{"description":"The table update status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateStateResultDTO"}}}}}}},"/FoundationBFBean/uploadSettings":{"post":{"tags":["FoundationBFBean"],"description":"Retrieves the upload settings.","operationId":"getUploadSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadSettingsRequestDTO"}}}},"responses":{"200":{"description":"The upload settings.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadSettingsResponseDTO"}}}}}}},"/FoundationBFBean/solution/{name}/version":{"get":{"tags":["FoundationBFBean"],"description":"Requests the version info for a solution from this engine.","operationId":"getVersionForSolution_1","parameters":[{"name":"name","in":"path","description":"Name of solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Contains the version info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionInfoDTO"}}}}}}},"/FoundationBFBean/workplaceURL":{"get":{"tags":["FoundationBFBean"],"description":"Requests the workplace url from this engine.","operationId":"getWorkplaceURL","responses":{"200":{"description":"The workspace url."}}}},"/FoundationBFBean/checkDebtorNumber":{"get":{"tags":["FoundationBFBean"],"description":"Checks if debtor number is known.","operationId":"isDebtorNumberKnown","parameters":[{"name":"debtorNumber","in":"query","description":"the debtor number to check","schema":{"type":"string"}}],"responses":{"200":{"description":"True if known."}}}},"/FoundationBFBean/roles":{"get":{"tags":["FoundationBFBean"],"description":"Requests the current engine to report all its roles","operationId":"requestReport","responses":{"200":{"description":"Contains all roles and clients.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/RoleInfoDTO"}}}}}}}},"/FoundationBFBean/roles/{clientIdentCode}":{"get":{"tags":["FoundationBFBean"],"description":"Requests the current engine to report all roles for a specific client","operationId":"requestReport_1","parameters":[{"name":"clientIdentCode","in":"path","description":"Client ident code for retrieving its roles.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Contains the roles of a specific client from the queried engine.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/RoleInfoDTO"}}}}},"400":{"description":"Client ident code is invalid."},"404":{"description":"No client with that ident code exists."}}}},"/FoundationBFBean/restartRFCServer":{"post":{"tags":["FoundationBFBean"],"description":"This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \"/AEB/XNSG_IF_RSTRFCSRV\"","operationId":"restartRFCServer_1","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/FoundationBFBean/sendMail":{"post":{"tags":["FoundationBFBean"],"description":"Sends a mail.","operationId":"sendMail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMailParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMailResultDTO"}}}}}}},"/FoundationBFBean/startScriptExecution":{"post":{"tags":["FoundationBFBean"],"description":"Starts a script execution","operationId":"startScriptExecution","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartScriptExecutionParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartScriptExecutionResultDTO"}}}}}}},"/FoundationBFBean/startTableUpdate":{"post":{"tags":["FoundationBFBean"],"description":"Starts the table update.","operationId":"startTableUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartTableUpdateParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateStateResultDTO"}}}}}}},"/FoundationBFBean/systemSearch/{language}":{"post":{"tags":["FoundationBFBean"],"description":"Performs a system search in this engine.","operationId":"systemSearch","parameters":[{"name":"language","in":"path","description":"the langauge","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SystemSearchParameterDTO"}}}}},"responses":{"200":{"description":"The search results.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/SystemSearchResultDTO"}}}}}}}},"/FoundationBFBean/uploadFileMultiPart":{"post":{"tags":["FoundationBFBean"],"description":"Uploads a file using multipart.","operationId":"uploadFileMultiPart","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Attach file to upload"},"metaInfo":{"$ref":"#/components/schemas/UploadFileMultiPartRequestDTO"}}}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadFileResponseDTO"}}}}}}},"/RemoteAdminBFBean/roles":{"get":{"tags":["RemoteAdminBFBean"],"summary":"getRoles","description":"Returns a list of roles","operationId":"getRolesGET","parameters":[{"name":"scope","in":"query","description":"the dataset to return","schema":{"type":"string"}},{"name":"clientIdentCodes","in":"query","description":"includeClientIdentCodes","schema":{"type":"string"}},{"name":"resultLanguageIsoCodes","in":"query","description":"resultLanguageIsoCodes","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRolesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRolesResponseDTO"}}}}}}},"/SyncBFBean/acknowledgeEvents":{"post":{"tags":["SyncBFBean"],"description":"Acknowledge events got with {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)}.<br> Since XNSG 4.0, Nov. FP, 2017<br>.","operationId":"acknowledgeEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeEventsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeEventsResponseDTO"}}}}}}},"/SyncBFBean/getNotAcknowledgedEvents":{"post":{"tags":["SyncBFBean"],"description":"Poll any not acknowledged events for the client system.<br> This method does not require, that the client system fills {@link SyncEventsRequestDTO#syncId}.<br> However, it requires, that a call to {@link #acknowledgeEvents(AcknowledgeEventsRequestDTO)} is done for acknowledge of the events.<br> Since XNSG 4.0, Nov. FP, 2017<br>.","operationId":"getNotAcknowledgedEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsResponseDTO"}}}}}}},"/SyncBFBean/getPartnerSystemSubscriptions":{"post":{"tags":["SyncBFBean"],"description":"Fetch a list of registered subscriptions (either all or filtered by the business object type).<br>Only subscription belonging to the provided <code>clientSystemId</code> are returned (mandatory field)<br> Since XNSG 4.0, Nov. FP, 2021<br>","operationId":"getPartnerSystemSubscriptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPartnerSystemSubscriptionsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO"}}}}}}},"/SyncBFBean/subscribePartnerSystem":{"post":{"tags":["SyncBFBean"],"description":"Subscribe a partner system to be able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>","operationId":"subscribePartnerSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscribePartnerSystemRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscribePartnerSystemResponseDTO"}}}}}}},"/SyncBFBean/synchronizeEvents":{"post":{"tags":["SyncBFBean"],"description":"Poll the next events for the client system.<br> This method requires the client system to persist the synchronisation state itself and passing a proper value for {@link SyncEventsRequestDTO#syncId}<br> See {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)} for a version of the method, were the syncronisation state is kept within the Engine.","operationId":"synchronizeEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsResponseDTO"}}}}}}},"/SyncBFBean/unsubscribePartnerSystem":{"post":{"tags":["SyncBFBean"],"description":"Unsubscribe a partner system from being able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>","operationId":"unsubscribePartnerSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribePartnerSystemRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribePartnerSystemResponseDTO"}}}}}}},"/companies/{id}":{"get":{"tags":["Companies"],"description":"Returns the company with the requested ID (company number). In some cases the ID (company number) is <b>not unique</b>. In this case an error is returned.","operationId":"getCompany","parameters":[{"name":"id","in":"path","description":"The requested ID (company number).","required":true,"schema":{"type":"string"},"example":12345}],"responses":{"200":{"description":"Successful call","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"},"examples":{"Successful call":{"description":"Successful call","value":{"companyNumber":"12345","name":"AEB SE","name2":"Name 2","name3":"Name 3","name4":"Name 4","street":"Sigmaringerstr. 109","street2":"Street 2","postcode":"70567","city":"Stuttgart","district":"Möhringen","countryIsoCode":"DE","county":"BW","poBox":"12345","postcodePoBox":"70567","cityPoBox":"Stuttgart","emailAddress":"max.mustermann@aeb.com","phoneNumber":"0711 12345","faxNumber":"0711 12345","vatNumber":"DE123456789","isEnabled":true,"homepage":"www.aeb.com","remark":"Logistics company","roles":[{"identCode":"DLSHIPPT","description":"Versandstelle"}]}}}}}},"400":{"description":"Either the requested company number is not unique or something went wrong during the validation.","content":{"application/problem+json":{"examples":{"Company number is not unique":{"description":"Company number is not unique","value":{"type":"company/company-number-not-unique","status":400,"title":"Company not unique","detail":"Es gibt mehrere Firmen mit der gleichen Firmennummer","timestamp":"2024-04-24T13:34:01.051128600Z","errors":[],"companyNumber":"12345"}}}}}},"404":{"description":"Requested company not found","content":{"application/json":{"examples":{"Requested company not found":{"description":"Requested company not found","value":{"errorMessage":"HTTP 404 Not Found"}}}}}}}},"put":{"tags":["Companies"],"description":"Create or update a company with the specified ID (company number). If the company with the given ID does not exist, a new company is created. If the company exist, the existing company is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an already existing company. It is therefore recommended to use the GET/companies to check whether a company with a specific ID exists or not BEFORE you use PUT/companies/{id}.","operationId":"createOrUpdateCompany","parameters":[{"name":"id","in":"path","description":"The requested ID (company number).","required":true,"schema":{"type":"string"},"example":12345}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"responses":{"200":{"description":"Successful call","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"},"examples":{"Successful call":{"description":"Successful call","value":{"companyNumber":"12345","name":"AEB SE","name2":"Name 2","name3":"Name 3","name4":"Name 4","street":"Sigmaringerstr. 109","street2":"Street 2","postcode":"70567","city":"Stuttgart","district":"Möhringen","countryIsoCode":"DE","county":"BW","poBox":"12345","postcodePoBox":"70567","cityPoBox":"Stuttgart","emailAddress":"max.mustermann@aeb.com","phoneNumber":"0711 12345","faxNumber":"0711 12345","vatNumber":"DE123456789","isEnabled":true,"homepage":"www.aeb.com","remark":"Logistics company","roles":[{"identCode":"DLSHIPPT","description":"Versandstelle"}]}}}}}},"400":{"description":"Either the requested company number is not unique or something went wrong during the validation.","content":{"application/problem+json":{"examples":{"Company number is not unique":{"description":"Company number is not unique","value":{"type":"company/company-number-not-unique","status":400,"title":"Company not unique","detail":"Es gibt mehrere Firmen mit der gleichen Firmennummer","timestamp":"2024-04-24T13:34:01.051128600Z","errors":[],"companyNumber":"12345"}},"Validation error":{"description":"Validation error","value":{"type":"about:blank","status":400,"title":"Invalid data","timestamp":"2024-04-24T13:35:11.511687Z","errors":[{"code":"INVALID_VALUE","message":"darf nicht leer sein","field":"name","value":""},{"code":"INVALID_VALUE","message":"Größe muss zwischen 1 und 40 sein","field":"name","value":""}]}}}}}},"404":{"description":"Requested company not found","content":{"application/json":{"examples":{"Requested company not found":{"description":"Requested company not found","value":{"errorMessage":"HTTP 404 Not Found"}}}}}},"409":{"description":"Locking error","content":{"application/problem+json":{"examples":{"Requested company cannot be locked":{"description":"Requested company cannot be locked","value":{"type":"about:blank","status":409,"title":"Locked","detail":"Locking für Firma - [AEB SE] fehlgeschlagen.","timestamp":"2024-04-24T13:43:17.602220800Z","errors":[]}}}}}}}},"delete":{"tags":["Companies"],"description":"Delete the company with the specified ID (company number). The ID is in some AEB services <b>not unique</b>, in this case a conflict (409) is returned.","operationId":"deleteCompany","parameters":[{"name":"id","in":"path","description":"The requested ID (company number).","required":true,"schema":{"type":"string"},"example":12345}],"responses":{"200":{"description":"Successful call","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"},"examples":{"Successful call":{"description":"Successful call","value":{"companyNumber":"12345","name":"AEB SE","name2":"Name 2","name3":"Name 3","name4":"Name 4","street":"Sigmaringerstr. 109","street2":"Street 2","postcode":"70567","city":"Stuttgart","district":"Möhringen","countryIsoCode":"DE","county":"BW","poBox":"12345","postcodePoBox":"70567","cityPoBox":"Stuttgart","emailAddress":"max.mustermann@aeb.com","phoneNumber":"0711 12345","faxNumber":"0711 12345","vatNumber":"DE123456789","isEnabled":true,"homepage":"www.aeb.com","remark":"Logistics company","roles":[{"identCode":"DLSHIPPT","description":"Versandstelle"}]}}}}}},"400":{"description":"Either the requested company number is not unique or something went wrong during the validation.","content":{"application/problem+json":{"examples":{"Company number is not unique":{"description":"Company number is not unique","value":{"type":"company/company-number-not-unique","status":400,"title":"Company not unique","detail":"Es gibt mehrere Firmen mit der gleichen Firmennummer","timestamp":"2024-04-24T13:34:01.051128600Z","errors":[],"companyNumber":"12345"}}}}}},"404":{"description":"Requested company not found","content":{"application/json":{"examples":{"Requested company not found":{"description":"Requested company not found","value":{"errorMessage":"HTTP 404 Not Found"}}}}}},"409":{"description":"Locking error","content":{"application/problem+json":{"examples":{"Requested company cannot be locked":{"description":"Requested company cannot be locked","value":{"type":"about:blank","status":409,"title":"Locked","detail":"Locking für Firma - [AEB SE] fehlgeschlagen.","timestamp":"2024-04-24T13:43:17.602220800Z","errors":[]}}}}}}}}},"/companies":{"get":{"tags":["Companies"],"description":"Returns all companies matching the given filter criteria. In case no company matches the given filter criteria an empty companies collection is returned. All filter fields are case insensitive. If the filter field supports place holders ('*' or '%'), you get all companies back beginning with the value of the filter. Means a place holder at the end of the filter value is added automatically.","operationId":"searchCompanies","parameters":[{"name":"is_enabled","in":"query","description":"Use this filter field with value 'true' if you want to get enabled companies only.","schema":{"type":"boolean"},"example":false},{"name":"roles","in":"query","description":"Filters companies by company roles. Use the API method GET/company-roles to retrieve all company roles. When searching for more than one role, all companies including one of the given roles are returned.<br>This filter field is case insensitive.<br>Place holders are not supported.","schema":{"type":"array","items":{"type":"string"}}},{"name":"company_number_like","in":"query","description":"Filters companies by company number.<br>In the example, all companies whose company number begins with '123' are returned.<br>This filter field is case insensitive.<br>Place holders are supported.<br>The company number is in some AEB services <b>not unique</b>, so the result may return more than one company with the same company number.","schema":{"type":"string"},"example":123},{"name":"name_like","in":"query","description":"Filters companies by name.<br>In the example, all companies whose name begins with 'AEB' are returned.<br>This filter field is case insensitive.<br>Place holders are supported.","schema":{"type":"string"},"example":"AEB"},{"name":"city_like","in":"query","description":"Filters companies by city.<br>In the example, all companies whose city includes 'ttgart' are returned.<br>This filter field is case insensitive.<br>Place holders are supported.","schema":{"type":"string"},"example":"*ttgart*"},{"name":"postcode_like","in":"query","description":"Filters companies by postcode.<br>In the example, all companies whose postcode starts with '70' are returned.<br>This filter field is case insensitive (relevant for alphanumeric postcodes, like in GB).<br>Place holders are supported.","schema":{"type":"string"},"example":"70*"},{"name":"country_iso_code","in":"query","description":"Filters companies by the 2 digit country ISO code according to ISO 3166. Examples for valid codes: 'US' for USA, 'DE' for Germany, 'IT' for Italy, etc.<br>In the example, all German companies are returned.<br>This filter field is case insensitive.<br>Place holders are not supported.","schema":{"type":"string","maxLength":2,"minLength":2},"example":"DE"},{"name":"offset","in":"query","description":"The starting point from which to return elements of the ordered list.<br><i>Minimum : 0</i>","schema":{"type":"integer","format":"int32","default":0,"minimum":0},"example":0},{"name":"limit","in":"query","description":"The maximum number of elements to be returned from the ordered list.<br><i>Minimum : 1</i><br><i>Maximum : 1000</i>","schema":{"type":"integer","format":"int32","default":1000,"maximum":1000,"minimum":1},"example":200}],"responses":{"200":{"description":"Successful call","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyPage"},"examples":{"List with two companies":{"description":"List with two companies","value":{"totalElements":42,"content":[{"companyNumber":"1111","name":"AEB GmbH","name2":"Advanced Global Trade Solutions","street":"Julius-Hölder-Straße 39","postcode":"70597","city":"Stuttgart","countryIsoCode":"DE","emailAddress":"info@aeb.de","phoneNumber":"+49/711/7 28 42-300","faxNumber":"+49/711/7 28 42-333","vatNumber":"12345","isEnabled":true,"homepage":"http://www.aeb.de","roles":[{"identCode":"DLSHIPPT","description":"Versandstelle"}]},{"companyNumber":"2222","name":"AEB SE","name2":"Name 2","name3":"Name 3","name4":"Name 4","street":"Sigmaringerstr. 109","street2":"Street 2","postcode":"70567","city":"Stuttgart","district":"Möhringen","countryIsoCode":"DE","county":"BW","poBox":"12345","postcodePoBox":"70567","cityPoBox":"Stuttgart","emailAddress":"max.mustermann@aeb.com","phoneNumber":"0711 12345","faxNumber":"0711 12345","vatNumber":"DE123456789","isEnabled":true,"homepage":"www.aeb.com","remark":"Logistics company","roles":[]}]}},"Empty list":{"description":"Empty list","value":{"totalElements":42,"content":[]}}}}}},"400":{"description":"Either the requested company role is unknown or something went wrong during the validation.","content":{"application/problem+json":{"examples":{"Unknown company role":{"description":"Filtered company role does not exist","value":{"type":"about:blank","status":400,"title":"Invalid data","timestamp":"2024-04-24T13:01:32.275722800Z","errors":[{"code":"INVALID_DATA","message":"Unbekannte Firmenrolle","field":"company_roles","value":"TEST"}]}},"Validation error":{"description":"Invalid value for param limit","value":{"type":"about:blank","status":400,"title":"Invalid data","timestamp":"2024-04-24T13:16:04.903767200Z","errors":[{"code":"INVALID_VALUE","message":"muss größer-gleich 1 sein","field":"limit","value":"0"}]}}}}}}}}},"/company-roles":{"get":{"tags":["Companies"],"description":"Returns all company roles of this AEB service. Company roles are domain specific characteristics and can differ between the different AEB services.","operationId":"getCompanyRoles","responses":{"200":{"description":"Successful call","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyRoleList"},"examples":{"All companies roles for this specific AEB service":{"description":"All companies roles for this specific AEB service","value":{"roles":[{"identCode":"DLSHIPPT","description":"Shipping point"}]}}}}}}}}},"/ComplianceScreeningApplications/manualAddressScreening":{"post":{"tags":["Compliance Screening Applications"],"summary":"Manual address screening UI","description":"Returns a URL that allows you to embed manual address screening into another application.","operationId":"manualAddressScreening","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualAddressScreeningRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ManualAddressScreeningRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed manual address screening into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/manualLogEntry":{"post":{"tags":["Compliance Screening Applications"],"summary":"Manual log entry editor","description":"Returns a URL that allows you to embed an editor to enter a manual log entry into another application.","operationId":"manualLogEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualLogEntryRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ManualLogEntryRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed an editor to enter a manual log entry into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/matchHandlingView":{"post":{"tags":["Compliance Screening Applications"],"summary":"Match handling overview","description":"Returns a URL that allows you to embed the match handling overview into another application.","operationId":"matchHandlingView","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchHandlingOverviewRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MatchHandlingOverviewRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed the match handling overview into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/restrictedPartyAddress":{"post":{"tags":["Compliance Screening Applications"],"summary":"Restricted party address","description":"Returns a URL that allows you to embed the restricted party address of one list entry into another application.","operationId":"restrictedPartyAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestrictedPartyAddressRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RestrictedPartyAddressRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed the restricted party address into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/restrictedPartyList":{"post":{"tags":["Compliance Screening Applications"],"summary":"Restricted party list","description":"Returns a URL that allows you to embed the restricted party list into another application.","operationId":"restrictedPartyList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestrictedPartyListRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RestrictedPartyListRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed the restricted party list into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/screeningLogEntry":{"post":{"tags":["Compliance Screening Applications"],"summary":"Screening log entry editor","description":"Returns a URL that allows you to embed the screening match handling into another application.","operationId":"screeningLogEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScreeningProtocolEntryRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScreeningProtocolEntryRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed screening match handling into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/screeningLogs":{"post":{"tags":["Compliance Screening Applications"],"summary":"Screening logs overview","description":"Returns a URL that allows you to embed the screening logs overview into another application.","operationId":"screeningLogs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScreeningLogsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScreeningLogsRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed screening logs overview into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/screeningProtocolEntry":{"post":{"tags":["Compliance Screening Applications"],"summary":"Screening log entry editor","description":"Returns a URL that allows you to embed the screening match handling into another application.","operationId":"screeningProtocolEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScreeningProtocolEntryRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScreeningProtocolEntryRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed screening match handling into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}},"deprecated":true}},"/ComplianceScreeningApplications/statisticalData":{"post":{"tags":["Compliance Screening Applications"],"summary":"Statistical data application","description":"Returns a URL that allows you to embed statistical data into another application.","operationId":"statisticalData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticalDataRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/StatisticalDataRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed statistical data into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningApplications/statisticalKeyFigures":{"post":{"tags":["Compliance Screening Applications"],"summary":"Statistical key figures application","description":"Returns a URL that allows you to embed statistical key figures into another application.","operationId":"statisticalKeyFigures","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticalKeyFiguresRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/StatisticalKeyFiguresRequestDTO"}}}},"responses":{"200":{"description":"OK. URL to embed statistical key figures into another application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreeningInternal/setFinalReferenceComment":{"post":{"tags":["Compliance Screening Internal"],"summary":"Update existing reference comments.","description":"Update the reference comment for existing screening protocols. This method should only be called by the SAP plugin, which always provides a reference comment containing \"[SAP has not assigned a no. yet]\" in the first screening. This placeholder is supposed to be replaced with the help of this method (although the whole reference comment must be passed).","operationId":"setFinalReferenceComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetFinalCommentRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SetFinalCommentRequestDTO"}}}},"responses":{"200":{"description":"OK. The operation response. See response schema documentation for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetFinalCommentRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SetFinalCommentRequestDTO"}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use POST.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/ComplianceScreening/aliasAddresses":{"get":{"tags":["Compliance Screening"],"summary":"Get aliases of an address","description":"Returns all alias addresses of a restricted party list address.","operationId":"aliasAddresses","parameters":[{"name":"listGroupName","in":"query","schema":{"type":"string"}},{"name":"aliasGroupNo","in":"query","schema":{"type":"string"}},{"name":"internalAddressId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK. All alias addresses of a restricted party list address.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/RestrictedPartyAddressDTO"}}},"application/xml":{"schema":{"items":{"$ref":"#/components/schemas/RestrictedPartyAddressDTO"}}}}},"401":{"description":"Unauthorized. Missing or invalid authorization token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"405":{"description":"Method not allowed. Use GET.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"406":{"description":"Not Acceptable. This resource produces application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"415":{"description":"Unsupported Media Type. This resource accepts application/json or application/xml.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Other errors, like a malformed request or internal server error. See errorMessage for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorData"
[...]
